.album-card {

    /* orientation of direct child elements inside the component*/
    display: flex;
    flex-direction: row;
    align-items: center;

    /* dimensions of the component */
    width: 800px; 

    /* padding, borders, margin */
    margin: 100px auto; 

    /* chromatics */
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);

    /* border radius */
    border-radius: 12px;

}

.album-card > img {
    width: 250px;
    height: 250px;
}

.album-card-contents {
    /* child elements are all block elements and will render vertically as desired; no need for flexbox in this instance */

    /* dimensions */
    width: 400px;

    /* padding, borders, margin */
    margin: 0px auto; 
}

.album-card-contents > h2 {
    text-align: center;
}

.info-group {
    /* orientation of direct child elements inside this element which is a div */
    display: flex;
    flex-direction: row;
    /* a test; let's see what happens; the below did work */
    /* justify-content: center;  */
    align-items: center;

    /* another test */
    padding-left: 75px;

}

.info-group > img {
    /* dimensions of the icons */
    width: 18px;
    height: 18px;

    /* padding, borders, margin */
    margin-right: 5px;
}


/* My utility borders */

.util-box-border-red {
    border: 1px dotted red;
}

.util-box-border-blue {
    border: 1px dotted blue;
}
